@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

@import 'tailwindcss';

@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  @apply font-[Poppins] bg-[#f9f6f1] text-[#3c2f2f];
}
@layer base {
  html {
    scroll-behavior: smooth;
  }

  section {
    @apply py-20 px-5 md:px-16 lg:px-28;
  }
}
